
.vs/sxos/v15/.suo
.vs/sxos/v15/Server/sqlite3/db.lock
.vs/sxos/v15/Server/sqlite3/storage.ide
.vs/sxos/v15/Server/sqlite3/storage.ide-shm
.vs/sxos/v15/Server/sqlite3/storage.ide-wal
*.exe
sxos/bin/Debug/sxos.exe.config
sxos/obj/Debug/sxos.csproj.FileListAbsolute.txt
sxos/obj/Debug/sxos.pdb
sxos/bin/Debug/sxos.pdb
sxos/bin/Debug/sxosdemo.txt
sxos/bin/Debug/test.txt
sxos/bin/Debug/demo.txt
